header,
footer {
  padding: 16px 32px;
}
header ul {
  float: right;
}
header ul li {
  padding-right: 16px;
}
header ul li a {
  display: inline-block;
  opacity: 0.75;
  font-size: 13px;
  line-height: 24px;
}
footer {
  padding: 0 32px;
  position: absolute;
  bottom: 0;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}
footer ul:first-of-type {
  float: left;
}
footer ul:first-of-type li:first-of-type a {
  padding: 0;
}
footer ul:nth-of-type(2) {
  float: right;
}
footer a {
  padding: 0 0 0 24px;
  color: #666;
  font-size: 13px;
  line-height: 40px;
}
.button {
  padding: 0 12px;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 24px;
  outline: none;
  opacity: 1;
  background: #4285f4;
  border: 1px solid #4285f4;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
